.about .title::after{
    content: "who we are";
    color:rgb(39,65,53);
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #8b4513;
}
.about .about-content .right{
    width: 55%;
    height: 60%;
    font-size: 20px;
    /* margin: 10px; */
}
.about .about-content .right .text{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}
.about .about-content .right .text span{
    color: #0000;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: rgb(39,65,53);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgb(39,65,53);
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: rgb(39,65,53);
    background: none;
}