
.body {
  font-family: Arial, sans-serif;
  background-color: #d9f8d7; /* Light mint background */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
  }
  
  form h2 {
    margin-bottom: 20px;
    color: #333333;
  }
  
  form input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
  }
  
  form button {
    background-color: #66bb6a;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  
  form button:hover {
    background-color: #57a65a;
  }
  
  form a {
    margin-top: 10px;
    font-size: 14px;
    color: #66bb6a;
    text-decoration: none;
  }
  
  form a:hover {
    text-decoration: underline;
  }
  
  .left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-image: url("pexels-photo-807598.jpeg.jpg");
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .login-container {
    display: flex;
    flex-direction: row;
    width: 813px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    width: 50%;
  }
  